@media only screen and (max-width:600px){
    html{
        font-size: 62.5%;
    }
    }
.thumbnail {
    width: 100%;

}

.video-title {
    margin-top: 0;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.25rem;
    margin-bottom: 0.625rem;
}

.video-author,
.video-stat {
    font-size: 0.75rem;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 0.25rem;
}

.profile-picture {
    width: 2.25rem;
    border-radius: 50%;

}

.thumbnail-row {
    margin-bottom: 0.5rem;
    position: relative;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 3.125rem 1fr;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.9375rem;
    row-gap: 2.5rem;

}
.video-time{
    background-color: black;
    color:white;
    font-family:Roboto,Arial;
    font-size: 0.75rem;
    font-weight:700;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius:0.125rem;
    position:absolute;
    bottom: 0.5rem;
    right: 0.3125rem;
}